<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="/todo_lists/media/style.css" />
    <title>{% block title %}To Do Lists{% endblock %}</title>
    <link href="/todo_lists/media/favicon.ico" type="image/x-icon" rel="icon" />
    <link href="/todolists/media/favicon.ico" type="image/x-icon" rel="shortcut icon" />
</head>
<body>
	<div id="container">
		<div id="header">
		<h1><b>ToDo Lists</h1>
		</div>
<div id="content">
<br><br><br><br><br><br><br><br>
<div class='view'>
{% block content%} 
<font size=5 >
  TO DO LISTS is a small web app wherein you can :
  <br/>
  <ul>
   <li>Keep Track of your tasks</li>
   <li>Keep systematic record of of your daily schedule</li>
   <li>Prioritize</li>
   <li>Never forget anything again</li>
  </ul>
 </font>
<br/><br/>
Hope You Like it:
<script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
      <fb:like></fb:like>
 {% endblock %}  
</div>

<div class='actions' id="sidebar">
        <ul>
	{% block sidebar %}
        {% endblock %}
	</ul>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

		</div>
		<div id="footer">
		Developed by: Peeyush Goela</b>		</div>
	</div>
</body>
</html>